.name{
  color:#808080;
  background-color:white;
  font-family: 'Dancing Script', cursive;
  font-size:70px;
  padding:10px 24px ;
  margin: 0px;
  border:15px;
  display: flex;
  justify-content:flex-end;
}
body{
    background-color:#999999;
}
.important{
  display:flex;
  justify-content: flex-start;
}
 a{
  color:white;
  padding:12px;
  font-size:30px;
  font-family: 'Patrick Hand', cursive;
   text-decoration: none;
}
.dots{
  color:black;
}
.mjproject{
  display:flex;
  justify-content:center;
}
.mjproject:hover {
  transform:scale(1.1);
}
.mainFavProject{
  margin:15px 0px 5px 0px;
  display:flex;
  justify-content:center;
}


